@keyframes logo-animation {
  0% {
      transform: translate(2000px, 2500px) scale(5);
      background-color: black;
  }
  1%{
    transform: translate(-40%, 350%) scale(4);
    background-color: transparent;
  }
  33% {
      transform: translate(-40%, 350%) scale(3);
    }



  100% {
      transform: translate(0%, 0%) scale(1);
  }
}

/*.logo-div>img {*/
/*  animation-duration: 4s;*/
/*  animation-timing-function: ease-in-out;*/
/*  animation-delay: 0s;*/
/*  animation-iteration-count: 1;*/
/*  animation-name: logo-animation;*/
/*}*/

/*.page_check {*/
/*  height: 100vh;*/
/*  width: 100vw;*/
/*  scroll-snap-align: center;*/
/*  position: relative;*/
/*}*/
/*.container_check {*/
/*  height: 100vh;*/
/*  overflow: auto;*/
/*  overflow-x: hidden;*/
/*  -ms-scroll-snap-type: y mandatory;*/
/*      scroll-snap-type: y mandatory;*/
/*}*/



