@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .whatsapp-logo-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 999;
  }
    .whatsapp-logo {
      height: 60px;
}

    #text-container {
      width: 100%;
      font-size: 1.5rem;
    }
    /* Style the navigation bar */
    .navbar {
        display: flex;
        align-items: start;
        background-color: #ffffff;
        width: 100%;
    }
    /* Style the image */
    .navbar img {
        height: 120px;
        /*margin-left: ;*/
    }
    .ourproducts {
        text-align: center;
        top: calc(100% - 100px);
        color: rgb(0,0,0);

    }
    .tofindsol {
        height: 70vh;
        background: linear-gradient(1deg, #696767, transparent);
    }
    .vdeo {
          margin-top: -80px !important;
          margin-bottom: 12px;
          object-fit: fill;
          height: auto;
      }
    .whatwedofont{
          font-size:1.5rem !important;
          margin-bottom: 5rem !important;
    }

    .hemantsection {
    background-image: url('https://res.cloudinary.com/dt224xdxl/image/upload/v1672685369/tarsyer-web/img/hemant_qgccoe.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 70vh !important;
    }
    .aboutusbgimage {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1673611725/tarsyer-web/img/about_us_obdqmt.svg");
        background-repeat: no-repeat;
        width: 100%;
        font-size: 0.7rem;
        text-align: justify;
        background-color: #dfdfdf;
    }
    .namegamebgimage {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685369/tarsyer-web/img/name_game_mobile_s5rtpb.svg");
        background-repeat: no-repeat;
        width: 100%;
        font-size: 0.7rem;
        text-align: justify;
        background-color: #3c3535;
    }
    .casestudypara1 {
        margin-left: -0.1rem;
        /*margin-right: calc(90% + 0.8rem);*/
        text-align: justify;
        font-size: 0.9rem;
        width: 87%;
        margin-top: -24px;
    }
    .casestudypara2 {
        margin-right: 32px;
        margin-left: -0.1rem;
        text-align: justify;
        font-size: 0.9rem;
        margin-top: -36px;
        width: 87%;

    }
    .casestudypara3 {
        margin-left: -0.8rem;
        text-align: justify;
        font-size: 0.9rem;
        margin-top: -35px;
        width: 169%;

    }
    .casestudytitle {
        margin-left: -1px;
        font-size: 45px;
          font-weight: 500;
    }
    .casestudycont {
        margin-left: 21px;
        /*margin-top: 0px;*/
        height: 94vh;

    }
    .casestudysection {
        background: url('../assets/img/cam_projection1.gif') bottom / contain space, #dfdfdf;
        background-repeat: no-repeat;
    }
    .remove_patch {
        overflow: hidden !important;
    }
    .tofindsol {
        height: 80vh !important;
        background: linear-gradient(1deg, #696767, transparent);

    }
    .aboutuscontainer{
        margin-right: 1.3rem;
        margin-left: 0.8rem;
        text-align: justify;
        font-size: 0.9rem;
        height: 80vh;

    }
    .namegamecontainer{
        margin-right: 1.3rem;
        margin-left: 0.8rem;
        text-align: justify;
        font-size: 0.9rem;
        height: 80vh;
    }
    .aboutusbgimage {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1673611725/tarsyer-web/img/about_us_obdqmt.svg");
        background-repeat: no-repeat;
        /*font-size: 0.8rem;*/
        background-color: #dfdfdf;
    }
    .namegamebgimage {
        background-image: url("../assets/img/name_game.svg");
        background-repeat: no-repeat;
        background-color: #dfdfdf;
    }
    .para {
          margin-top: -0.8rem;

      }
    .paras {
          margin-top: -1.1rem;
      }
    .ourproducts {
        text-align: center;
        margin-top: 1rem;
        color: rgb(0,0,0);
    }
    .tofindsol {
        height: 70vh;
        background: linear-gradient(1deg, #696767, transparent);
    }
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .ms--images {
        position: relative;
        overflow: hidden;
    }

    .ms--images.ms-container--horizontal {
        width: 100%;
        height: 650px;
        max-width: 100%;
    }

    .ms--images.ms-container--horizontal .ms-track {
        left: calc(50% - 350px);
    }

    .ms--images.ms-container--horizontal .ms-slide {
        display: inline-flex;
    }

    .ms--images .ms-track {
        display: flex;
        position: absolute;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .ms--images .ms-slide {
        align-items: flex-end;
        justify-content: center;
        width: 520px;
        height: 774px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ms--images {
        left: calc(50% - 200px);
        top: calc(50% - 1px) !important;
    }

    .ms--images.ms-container--horizontal .ms-track {
        left: -70px;
    }

    .ms--images .ms-slide:nth-child(1) .ms-slide__image {
        background: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685370/tarsyer-web/img/product_card/1_phone_yurikt.svg");
    }

    .ms--images .ms-slide:nth-child(2) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685371/tarsyer-web/img/product_card/2_phone_ih6tnx.svg");
    }

    .ms--images .ms-slide:nth-child(3) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685372/tarsyer-web/img/product_card/3_phone_fnihtb.svg");
    }

    .ms--images .ms-slide:nth-child(4) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685373/tarsyer-web/img/product_card/4_phone_bedk9w.svg");
    }

    .ms--images .ms-slide:nth-child(5) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685375/tarsyer-web/img/product_card/5_phone_ufz3rv.svg");
    }

    .ms--images .ms-slide:nth-child(6) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685377/tarsyer-web/img/product_card/6_phone_r7b0ei.svg");
    }

    .ms--images .ms-slide:nth-child(7) .ms-slide__image {
        background-image: url("https://res.cloudinary.com/dt224xdxl/image/upload/v1672685377/tarsyer-web/img/product_card/7_phone_p8nkya.svg");
    }

    .ms--images .ms-slide__image-container {
        width: 80%;
        height: 80%;
        background-color: rgba(0, 0, 0, 0.3);
        overflow: hidden;
    }

    .ms--images .ms-slide__image {
        width: 100%;
        height: 100%;
        background-size: cover;

    }

    .ms--numbers {
        position: relative;
        overflow: hidden;
    }

    .ms--numbers.ms-container--horizontal {
        width: 240px;
        height: 240px;
        max-width: 100%;
    }

    .ms--numbers.ms-container--horizontal .ms-track {
        left: calc(50% - 120px);
    }

    .ms--numbers.ms-container--horizontal .ms-slide {
        display: inline-flex;
    }

    .ms--numbers .ms-track {
        display: flex;
        position: absolute;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .ms--numbers .ms-slide {
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 240px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ms--numbers {
        position: absolute;
        left: calc(50% - 380px);
        top: calc(50% - 300px);
        z-index: -1;
        pointer-events: none;
    }

    .ms--numbers .ms-slide {
        font-size: 9em;
        font-weight: 900;
        color: rgba(255, 255, 255, 0.2);
    }

    .ms--titles {
        position: relative;
        overflow: hidden;
    }

    .ms--titles.ms-container--vertical {
        width: 700px;
        height: 200px;
        max-height: 100%;
    }

    .ms--titles.ms-container--vertical .ms-track {
        flex-direction: column;
        top: calc(50% - 85px);
    }

    .ms--titles.ms-container--vertical.ms-container--reverse .ms-track {
        flex-direction: column-reverse;
        top: auto;
        bottom: calc(50% - 85px);
    }

    .ms--titles.ms-container--vertical .ms-slide {
        display: flex;
    }

    .ms--titles .ms-track {
        display: flex;
        position: absolute;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .ms--titles .ms-slide {
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 200px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ms--titles {
        position: absolute;
        left: calc(50% - 700px);
        top: calc(50% - 120px);
        z-index: 1;
        pointer-events: none;
    }

    .ms--titles .ms-track {
        white-space: normal;
    }

    .ms--titles .ms-slide {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .ms--titles .ms-slide h3 {
        margin: 0;
        text-shadow: 1px 1px 2px black;
    }

    .ms--links {
        position: relative;
        overflow: hidden;
    }

    .ms-container--vertical {
        width: 120px;
        height: 60px;
        max-height: 100%;
    }

    .ms-container--vertical .ms-track {
        flex-direction: column;
        top: calc(50% - 30px);
    }

    .ms-container--vertical .ms-slide {
        display: flex;
    }

    .ms-track {
        display: flex;
        position: absolute;
        white-space: nowrap;
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .ms-slide {
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 60px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ms--links {
        position: absolute;
        left: calc(50% - 420px);
        top: calc(50% + 105px);
        z-index: 1;
    }

    .ms-track {
        white-space: normal;
    }

    .pagination {
        display: flex;
        position: absolute;
        left: calc(50% - 150px);
        top: calc(100% - 40px);
        list-style: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        z-index: 1;
    }

    .pagination__button {
        display: inline-block;
        position: relative;
        width: 36px;
        height: 20px;
        margin: 0 5px;
        cursor: pointer;
    }

    .pagination__button:before, .pagination__button:after {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 1px);
        width: 100%;
        /*box-shadow: 0 1px 0 #0B0D14;*/
    }

    .pagination__button:before {
        height: 2px;
        background-color: #7a7676;
    }

    .pagination__button:after {
        height: 3px;
        background-color: #d97171;
        opacity: 0;
        transition: 0.5s opacity;
    }

    .pagination__item--active .pagination__button:after {
        opacity: 1;
    }

    .ms--numbers {
        left: calc(50% - 120px);
    }

    .ms--titles {
        left: calc(50% - 200px);
        top: calc(1%);
        text-align: center;
    }

    .ms--titles .ms-slide {
        font-size: 1.3rem;
        font-weight: bold;
    }

    .pagination {
        left: 50%;
        top: calc(100% - 60px);
        transform: translateX(-50%);
    }

    *, *:before, *:after {
        box-sizing: border-box;
    }

    .container_product {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    /*.container:before {*/
    /*  content: "";*/
    /*  position: absolute;*/
    /*  left: -150%;*/
    /*  top: 0;*/
    /*  width: 300%;*/
    /*  height: 100%;*/
    /*  background-color: rgba(0, 0, 0, 0.3);*/
    /*  transform: rotate(45deg);*/
    /*  z-index: -1;*/
    /*}*/
    .header {
        display: flex;
        align-items: center;
        padding: 30px;
    }

    .header__logo {
        font-size: 1.3em;
        font-weight: 900;
        letter-spacing: -1px;
    }

    .header__logo span {
        display: inline-block;
        transform: translateY(4px) rotate(180deg);
        pointer-events: none;
    }

    .header__menu {
        margin-left: auto;
    }

    .header__menu__list, .footer__menu__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .header__menu__link {
        margin-left: 50px;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
    }

    /*.footer__menu__link {*/
    /*  margin-left: 50px;*/
    /*  color: rgba(255, 255, 255, 0.5);*/
    /*}*/
    .sliders-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
}


